header {
    background-color: #f5f5f5;
    margin: 10px;
    padding: 10px 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    color: #e69a2f;
    font-family: Georgia, serif;
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}

header nav {
    display: flex;
    gap: 30px;
}

header nav a {
    color: #ccc;
    font-family: Georgia, serif;
    font-size: 18px;
    text-decoration: none;
}

body:has(.Home) header nav a[href="index.html"],
body:has(.calculator) header nav a[href="calculator.html"],
body:has(.quote) header nav a[href="quote.html"] {
    color: #e69a2f;
}

.Home {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 20px;
    margin: 50px auto;
    width: 90%;
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.2);
}

.Home h2 {
    color: #111;
    font-family: Georgia, serif;
    font-size: 30px;
    font-weight: bold;
}

.Home p {
    color: #222;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
}



.calculator {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px 60px;
}

.calculator h2 {
    color: #e69a2f;
    font-family: Georgia, serif;
    font-size: 32px;
    font-weight: bold;
}

.calculator-box {
    width: 280px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.3);
}

.display {
    background-color: #d9d9d9;
    height: 60px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.buttons button {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    height: 50px;
    font-size: 17px;
}

.buttons button:nth-child(4n) {
    background-color: #e69a2f;
    color: #222;
}

.buttons button:last-child {
    background-color: #e69a2f;
    color: #222;
}

.buttons .zero {
    grid-column: span 2;
}

.quote {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 15px;
    padding: 40px 50px;
    margin: 80px auto;
    width: 80%;
    box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.quote p {
    color: #111;
    font-family: Georgia, serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
}

.quote small {
    display: block;
    color: #111;
    font-family: Georgia, serif;
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
}